langchain 
python-dotenv
langchain_community
pypdf
bs4
arxiv
pymupdf
langchain-text-splitters
wikipedia
langchain-core
langchain-groq
azure-ai-inference
azure-core
sentence-transformers
langchain-huggingface
faiss-cpu
chromadb
langchain_chroma